@model casestudy.Models.Product

@{
    ViewBag.Title = "Detials";
}

<h2>Detials</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.productname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoryname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoryname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.units)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.units)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            <s> @Html.DisplayFor(model => model.price)</s>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.discount)
        </dt>

        <dd>
             @Html.DisplayFor(model => model.discount)
        </dd>

        <dt>
            @Html.DisplayName("OFFER PRICE")
        </dt>

        <dd>
           @ViewBag.a
        </dd>
    </dl>
</div>

   <th align="right">
       @using (Html.BeginForm("Tocart", "C", FormMethod.Post))
       {
           @Html.TextBox("noofitem", "", new { @type = "number",min="0" })
           @Html.HiddenFor(m => m.productid, new { @class = "form-control", @value=Model.productid })
           <br />
           <input type="submit" value="ADD TO CART" class="btn-primary"/>
       }
   </th>
<br /><br /><br />
    @Html.ActionLink("Back to List", "Index")

